@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols-regular-webfont.ttf") format("truetype"), url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FFFTusjBold';
  src: url("../fonts/FFF_Tusj-webfont.eot");
  src: url("../fonts/FFF_Tusj-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/FFF_Tusj-webfont.woff") format("woff"), url("../fonts/FFF_Tusj-webfont.ttf") format("truetype"), url("../fonts/FFF_Tusj-webfont.svg#FFFTusjBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales {
  height: 82px;
  margin: 25px 0px 20px 0px;
}
/* line 4, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 {
  display: table;
  margin: 0px auto;
}
/* line 7, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre {
  margin: 0px 15px 0 15px;
  float: left;
}
/* line 10, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .box a:hover {
  text-decoration: none;
}
/* line 13, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count {
  color: #000;
  display: block;
  font: 14px/30px "Open Sans", sans-serif;
  height: 30px;
  position: relative;
  text-align: center;
  width: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b2b2b2;
  background: none;
}
/* line 26, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:before, .botonesSociales #example1 .sharrre .count.count:after {
  content: '';
  display: block;
  position: absolute;
  left: 49%;
  width: 0;
  height: 0;
}
/* line 34, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:before {
  border: solid 7px transparent;
  border-top-color: #b2b2b2;
  margin-left: -7px;
  bottom: -14px;
}
/* line 40, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:after {
  border: solid 6px transparent;
  margin-left: -6px;
  bottom: -12px;
  border-top-color: white;
}
/* line 47, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
.botonesSociales #example1 .sharrre .share {
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 8px 5px 0px 5px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 66, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
#twitter .share {
  color: white;
  font-family: "WebSymbolsRegular";
  background: #000;
  /* Old browsers */
}

/* line 71, /Users/javito/Library/WebServer/Documents/www.urbanismodebarrio.com/sass/sharrre.scss */
#facebook .share {
  color: white;
  background: #000;
  /* Old browsers */
}

/* line 6, ../sass/estilo.scss */
body {
  background-image: url("/img/purty_wood.png");
}

/* line 9, ../sass/estilo.scss */
a:link, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

/* line 13, ../sass/estilo.scss */
.imprimir {
  top: -35px;
  -webkit-transition: top 0.5s ease-in-out 2s;
  -moz-transition: top 0.5s ease-in-out 2s;
  -ms-transition: top 0.5s ease-in-out 2s;
  -o-transition: top 0.5s ease-in-out 2s;
  transition: top 0.5s ease-in-out 2s;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 35px;
  background: #FAF7F7;
  border-top: 1px solid silver;
  box-shadow: inset 0 1px white, 0 1px 3px rgba(34, 25, 25, 0.4);
}
/* line 14, ../sass/estilo.scss */
.imprimir.ensena {
  top: 0px;
}
/* line 26, ../sass/estilo.scss */
.imprimir p {
  display: block;
  position: relative;
  width: 980px;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  line-height: 35px;
  font: 14px/35px "Open Sans", sans-serif;
  color: #221919;
  text-shadow: 0 1px white;
}
/* line 37, ../sass/estilo.scss */
.imprimir p .icon-print {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background-image: url(/img/printer.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: 8px 8px;
  margin: 0px;
  padding: 5px 5px 5px 5px;
}
/* line 51, ../sass/estilo.scss */
.imprimir p .print {
  padding: 0px;
  margin: 0px;
}
/* line 54, ../sass/estilo.scss */
.imprimir p .print a:hover {
  text-decoration: underline;
}

/* line 60, ../sass/estilo.scss */
.highlight {
  left: -3px;
  background-image: url(/img/highlight.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0px 0px;
  margin-left: -5px;
  padding-right: 5px;
  padding-left: 5px;
  width: 105%;
  line-height: 200%;
  overflow: visible;
  height: 32px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 74, ../sass/estilo.scss */
.highlight:hover {
  opacity: 0.8;
}

/* line 78, ../sass/estilo.scss */
.contenedor {
  width: 980px;
  margin: 50px auto 50px auto;
  background: url(/img/fondo-y-repeat.png);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  position: relative;
}
/* line 84, ../sass/estilo.scss */
.contenedor header {
  overflow: hidden;
  *zoom: 1;
  width: 780px;
  margin: 20px 90px 20px 110px;
}
/* line 88, ../sass/estilo.scss */
.contenedor header .creditos {
  width: 780px;
  margin-top: 30px;
}
/* line 91, ../sass/estilo.scss */
.contenedor header .creditos p {
  font: 12px/20px "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
/* line 95, ../sass/estilo.scss */
.contenedor header .creditos p a:link {
  -webkit-transition: text-decoration 0.1s linear;
  -moz-transition: text-decoration 0.1s linear;
  -ms-transition: text-decoration 0.1s linear;
  -o-transition: text-decoration 0.1s linear;
  transition: text-decoration 0.1s linear;
}
/* line 98, ../sass/estilo.scss */
.contenedor header .creditos p a:hover {
  text-decoration: underline;
}
/* line 103, ../sass/estilo.scss */
.contenedor header hgroup {
  margin-top: 50px;
  text-align: center;
}
/* line 106, ../sass/estilo.scss */
.contenedor header hgroup h1 {
  font: 64px 'FFFTusjBold';
  margin: 0px 0px;
}
/* line 110, ../sass/estilo.scss */
.contenedor header hgroup h2 {
  margin: 0px 0px;
  font: 32px/22px "FFFTusjBold";
}
/* line 115, ../sass/estilo.scss */
.contenedor header p {
  margin: 5px 0px 35px 0px;
  display: block;
  font: 18px/28px "Open Sans", sans-serif;
  text-align: center;
}
/* line 123, ../sass/estilo.scss */
.contenedor section {
  overflow: hidden;
  *zoom: 1;
  width: 780px;
  margin: 20px 90px 20px 110px;
}
/* line 127, ../sass/estilo.scss */
.contenedor section hgroup {
  text-align: center;
  margin: 0px;
  padding-bottom: 30px;
  background: url(/img/linea-a-mano-3px.png) center bottom no-repeat;
}
/* line 132, ../sass/estilo.scss */
.contenedor section hgroup h1 {
  font: 32px/22px "FFFTusjBold";
  padding-bottom: 10px;
  margin: 0px;
}
/* line 137, ../sass/estilo.scss */
.contenedor section hgroup h2 {
  margin: 0px;
  font: 18px/24px "Open Sans", sans-serif;
}
/* line 142, ../sass/estilo.scss */
.contenedor section p.notapie {
  text-align: center;
  font: 12px/18px "Open Sans", sans-serif;
}
/* line 145, ../sass/estilo.scss */
.contenedor section p.notapie a:link {
  font-weight: bold;
}
/* line 148, ../sass/estilo.scss */
.contenedor section p.notapie .nota_impresa {
  display: none;
}
/* line 151, ../sass/estilo.scss */
.contenedor section p.notapie .nota_web {
  display: inline;
}
/* line 155, ../sass/estilo.scss */
.contenedor section article {
  width: 780px;
  margin: 25px 0px;
  padding: 25px 0px;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  background: url(/img/linea-a-mano-1px.png) center bottom no-repeat;
}
/* line 162, ../sass/estilo.scss */
.contenedor section article .horario {
  overflow: hidden;
  *zoom: 1;
  width: 375px;
  float: left;
  margin-right: 30px;
}
/* line 167, ../sass/estilo.scss */
.contenedor section article .horario .fecha {
  display: block;
  font: 24px/22px "FFFTusjBold";
  text-align: right;
}
/* line 172, ../sass/estilo.scss */
.contenedor section article .horario .hora {
  margin-top: 3px;
  display: block;
  font: 18px/23px "Open Sans", sans-serif;
  text-align: right;
}
/* line 178, ../sass/estilo.scss */
.contenedor section article .horario .inscripcion {
  position: absolute;
  bottom: 25px;
  display: block;
  font: 18px/18px "Open Sans", sans-serif;
  text-align: right;
  width: 375px;
}
/* line 187, ../sass/estilo.scss */
.contenedor section article .informacion {
  width: 375px;
  float: left;
}
/* line 190, ../sass/estilo.scss */
.contenedor section article .informacion h1 {
  background: none;
  font: 24px/22px "FFFTusjBold";
  text-align: left;
  border-bottom: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
/* line 198, ../sass/estilo.scss */
.contenedor section article .informacion p {
  font: 14px/23px "Open Sans", sans-serif;
}
/* line 204, ../sass/estilo.scss */
.contenedor .piePagina {
  width: 980px;
  height: 60px;
  background: url(/img/fondo-fin-y-repeat.png) no-repeat;
}

/* line 210, ../sass/estilo.scss */
footer {
  width: 980px;
  margin: 30px auto 50px auto;
  text-align: center;
  font: 12px/20px "Open Sans", sans-serif;
}
/* line 215, ../sass/estilo.scss */
footer p {
  display: block;
  color: #5a3817;
  width: 980px;
  text-align: center;
  font: 12px/23px "Open Sans", sans-serif;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}
/* line 222, ../sass/estilo.scss */
footer p a:link, footer p a:visited {
  color: #5a3817;
  font-weight: bold;
}
/* line 226, ../sass/estilo.scss */
footer p a:hover {
  text-decoration: underline;
}

@media print {
  @page {
    size: auto;
    width: 100%;
    margin: 10mm 10mm 10mm 10mm;
}

  /* line 239, ../sass/estilo.scss */
  .botonesSociales, footer, .piePagina, .imprimir {
    display: none;
  }

  /* line 242, ../sass/estilo.scss */
  .ocultaImprime {
    display: none;
  }

  /* line 245, ../sass/estilo.scss */
  a:link:after, a:visited:after {
    content: "";
  }

  /* line 248, ../sass/estilo.scss */
  body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 254, ../sass/estilo.scss */
  body .contenedor header {
    width: 100%;
    margin: 0mm 0mm 3mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 258, ../sass/estilo.scss */
  body .contenedor header .creditos {
    width: 100%;
    margin: 0mm 0mm 5mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 263, ../sass/estilo.scss */
  body .contenedor header hgroup {
    width: 100%;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 267, ../sass/estilo.scss */
  body .contenedor header hgroup h1 {
    width: 100%;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 272, ../sass/estilo.scss */
  body .contenedor header hgroup h2 {
    width: 100%;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  /* line 279, ../sass/estilo.scss */
  body .contenedor section {
    width: 100%;
    margin: 0cm;
    padding: 0cm;
  }
  /* line 283, ../sass/estilo.scss */
  body .contenedor section hgroup {
    margin: 0cm 0cm 0.5cm 0cm;
    padding: 0cm 0cm 0.5cm 0cm;
    border-bottom: 1pt dotted black;
  }
  /* line 288, ../sass/estilo.scss */
  body .contenedor section article {
    width: 100%;
    margin: 1cm 0cm 0.75cm 0cm;
    padding: 0cm 0cm 0.5cm 0cm;
    border-bottom: 1pt dotted silver;
  }
  /* line 293, ../sass/estilo.scss */
  body .contenedor section article .horario {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0cm;
    padding: 0cm;
    width: 50%;
    padding-right: 1cm;
  }
  /* line 299, ../sass/estilo.scss */
  body .contenedor section article .horario .inscripcion {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0cm;
    padding: 0cm;
    width: 50%;
    padding-right: 1cm;
  }
  /* line 307, ../sass/estilo.scss */
  body .contenedor section article .informacion {
    margin: 0cm;
    padding: 0cm;
    width: 50%;
  }
  /* line 313, ../sass/estilo.scss */
  body .contenedor section .notapie {
    font: 16px/22px "Open Sans", sans-serif;
  }
  /* line 315, ../sass/estilo.scss */
  body .contenedor section .notapie .nota_web {
    display: none;
  }
  /* line 318, ../sass/estilo.scss */
  body .contenedor section .notapie .nota_impresa {
    display: inline;
  }
}
