@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols-regular-webfont.ttf") format("truetype"), url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/sharrre.scss */
.botonesSociales {
  height: 82px;
  margin: 25px 0px 20px 0px;
}
/* line 4, ../sass/sharrre.scss */
.botonesSociales #example1 {
  display: table;
  margin: 0px auto;
}
/* line 7, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre {
  margin: 0px 15px 0 15px;
  float: left;
}
/* line 10, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .box a:hover {
  text-decoration: none;
}
/* line 13, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count {
  color: #000;
  display: block;
  font: 14px/30px "Open Sans", sans-serif;
  height: 30px;
  position: relative;
  text-align: center;
  width: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b2b2b2;
  background: none;
}
/* line 26, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:before, .botonesSociales #example1 .sharrre .count.count:after {
  content: '';
  display: block;
  position: absolute;
  left: 49%;
  width: 0;
  height: 0;
}
/* line 34, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:before {
  border: solid 7px transparent;
  border-top-color: #b2b2b2;
  margin-left: -7px;
  bottom: -14px;
}
/* line 40, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .count.count:after {
  border: solid 6px transparent;
  margin-left: -6px;
  bottom: -12px;
  border-top-color: white;
}
/* line 47, ../sass/sharrre.scss */
.botonesSociales #example1 .sharrre .share {
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 8px 5px 0px 5px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 66, ../sass/sharrre.scss */
#twitter .share {
  color: white;
  font-family: "WebSymbolsRegular";
  background: #000;
  /* Old browsers */
}

/* line 71, ../sass/sharrre.scss */
#facebook .share {
  color: white;
  background: #000;
  /* Old browsers */
}

/* line 6, ../sass/estilo.scss */
body {
  background-image: url("/img/purty_wood.png");
}

/* line 9, ../sass/estilo.scss */
a:link, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

/* line 14, ../sass/estilo.scss */
.highlight {
  left: -3px;
  background-image: url(/img/highlight.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0px 0px;
  margin-left: -5px;
  padding-right: 5px;
  padding-left: 5px;
  width: 105%;
  line-height: 200%;
  overflow: visible;
  height: 32px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 28, ../sass/estilo.scss */
.highlight:hover {
  opacity: 0.8;
}

/* line 32, ../sass/estilo.scss */
.contenedor {
  width: 980px;
  margin: 30px auto 50px auto;
  background: url(/img/fondo-y-repeat.png);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  position: relative;
}
/* line 38, ../sass/estilo.scss */
.contenedor header {
  overflow: hidden;
  *zoom: 1;
  width: 780px;
  margin: 20px 90px 20px 110px;
}
/* line 42, ../sass/estilo.scss */
.contenedor header .creditos {
  width: 780px;
  margin-top: 30px;
}
/* line 45, ../sass/estilo.scss */
.contenedor header .creditos p {
  font: 12px/20px "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
/* line 49, ../sass/estilo.scss */
.contenedor header .creditos p a:link {
  -webkit-transition: text-decoration 0.1s linear;
  -moz-transition: text-decoration 0.1s linear;
  -ms-transition: text-decoration 0.1s linear;
  -o-transition: text-decoration 0.1s linear;
  transition: text-decoration 0.1s linear;
}
/* line 52, ../sass/estilo.scss */
.contenedor header .creditos p a:hover {
  text-decoration: underline;
}
/* line 57, ../sass/estilo.scss */
.contenedor header hgroup {
  margin-top: 50px;
  text-align: center;
}
/* line 60, ../sass/estilo.scss */
.contenedor header hgroup h1 {
  font: 64px 'FFF Tusj';
  margin: 0px 0px;
}
/* line 64, ../sass/estilo.scss */
.contenedor header hgroup h2 {
  margin: 0px 0px;
  font: 32px/22px "FFF Tusj";
}
/* line 69, ../sass/estilo.scss */
.contenedor header p {
  margin: 5px 0px 35px 0px;
  display: block;
  font: 18px/28px "Open Sans", sans-serif;
  text-align: center;
}
/* line 77, ../sass/estilo.scss */
.contenedor section {
  overflow: hidden;
  *zoom: 1;
  width: 780px;
  margin: 20px 90px 20px 110px;
}
/* line 81, ../sass/estilo.scss */
.contenedor section h1 {
  font: 32px/22px "FFF Tusj";
  text-align: center;
  padding-bottom: 20px;
  background: url(/img/linea-a-mano-3px.png) center bottom no-repeat;
}
/* line 87, ../sass/estilo.scss */
.contenedor section article {
  width: 780px;
  margin: 25px 0px;
  padding: 25px 0px;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  background: url(/img/linea-a-mano-1px.png) center bottom no-repeat;
}
/* line 94, ../sass/estilo.scss */
.contenedor section article .horario {
  overflow: hidden;
  *zoom: 1;
  width: 375px;
  float: left;
  margin-right: 30px;
}
/* line 99, ../sass/estilo.scss */
.contenedor section article .horario .fecha {
  display: block;
  font: 24px/22px "FFF Tusj";
  text-align: right;
}
/* line 104, ../sass/estilo.scss */
.contenedor section article .horario .hora {
  margin-top: 3px;
  display: block;
  font: 18px/23px "Open Sans", sans-serif;
  text-align: right;
}
/* line 110, ../sass/estilo.scss */
.contenedor section article .horario .inscripcion {
  position: absolute;
  bottom: 25px;
  display: block;
  font: 18px/18px "Open Sans", sans-serif;
  text-align: right;
  width: 375px;
}
/* line 119, ../sass/estilo.scss */
.contenedor section article .informacion {
  width: 375px;
  float: left;
}
/* line 122, ../sass/estilo.scss */
.contenedor section article .informacion h1 {
  background: none;
  font: 24px/22px "FFF Tusj";
  text-align: left;
  border-bottom: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
/* line 130, ../sass/estilo.scss */
.contenedor section article .informacion p {
  font: 14px/23px "Open Sans", sans-serif;
}
/* line 136, ../sass/estilo.scss */
.contenedor .piePagina {
  width: 980px;
  height: 60px;
  background: url(/img/fondo-fin-y-repeat.png) no-repeat;
}

/* line 142, ../sass/estilo.scss */
footer {
  width: 980px;
  margin: 30px auto 50px auto;
  text-align: center;
  font: 12px/20px "Open Sans", sans-serif;
}
/* line 147, ../sass/estilo.scss */
footer p {
  display: block;
  color: #5a3817;
  width: 980px;
  text-align: center;
  font: 12px/23px "Open Sans", sans-serif;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}
/* line 154, ../sass/estilo.scss */
footer p a:link, footer p a:visited {
  color: #5a3817;
  font-weight: bold;
}
/* line 158, ../sass/estilo.scss */
footer p a:hover {
  text-decoration: underline;
}
