<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="author" href="humans.txt" />
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/vendor/modernizr-2.6.1.min.js"></script>
</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<div class="contenedor">
			<header>
				<hgroup>
					<h1>{{ page.title }}</h1>
					<h2>{{ page.subtitulo }}</h2>
				</hgroup>
				<h3>{{ page.creditos.organizan }}</h3>
				<h3>{{ page.creditos.colaboran }}</h3>
				<p>{{ page.descripcion }}</p>
			</header>
			<section>
				<h1>Programación</h1>
				{% for item in page.actividad %}
					<article>
						<div class="horario">
							<time datetime="{{ item.horario.fecha.formateada}}">{{ item.horario.fecha.natural}}</time>
							<time datetime="{{ item.horario.hora}}">{{ item.horario.hora }}</time>
							{% if item.inscripcion.url %}
								<p class="inscripcion"><a href="{{ item.inscripcion.url }}">{{ item.inscripcion.titulo }}</a></p>
							{% else %}
								<p class="inscripcion">{{ item.inscripcion.titulo }}</p>
							{% endif %}
						</div>
						<h1>{{ item.titulo}}</h1>
						<p>{{ item.descripcion }}</p>
					</article>
				{% endfor %}
			</section>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
